---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/logo.astro';
import Navigation from '../components/navigation.astro';
---

<Layout>
	<Navigation />
	<main>
	<h1>404 - Not found</h1>
	<p>The page you requested couldn't be found.</p>
	<p><a href="/">&larr; Back to front page</a></p>
	</main>
</Layout>
