---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <h1 id="donatetext">Donate</h1>
        <div id="buttons">
            <p id="dstart">How do you want to pay?</p>
            <a href="https://liberapay.com/bubblineyuri" class="button" target="_blank">PayPal</a>
            <a href="https://donate.stripe.com/9AQg1BbUk5tVa7mdQQ" class="button" target="_blank">Stripe</a>
        </div><br>
        <div id="dprogress">
            <p id="annual">Current annual goal:</p>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 32.5%;background-color:var(--accent-color);">325€ / 1000€</div>
            </div>
        </div>
    </main>
</Layout>
