---
import Layout from "../layouts/Layout.astro";
import Services from '../components/services.astro';
---

<Layout>
    <main>
        <img src="/pb-icon.svg" alt="Logo" height="100">
        <h3 id="header">Internet services for you and your friends</h3><br>
        <h4 id="tagline">koyu.space is a global network of talented people delivering internet services to you. All we do is free and open-source software.</h4>
        <br><br><br><br>
        <section>
            <h2 id="ourservices">Our services:</h2>
            <Services />
	    </section>
    </main>
    <footer>
        #koyuwallpaper
    </footer>
</Layout>

<script src="../ts/people.ts"></script>