---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/navigation.astro";
---

<script src="../ts/app.ts"></script>
<Navigation />
<Layout>
    <main>
        <img src="/pb-icon.svg" alt="Logo" height="100">
        <h3>Internet services for you and your friends</h3>
    </main>
</Layout>