---
import Layout from '../layouts/Layout.astro';
import Service from '../components/service.astro';
import data from '../data/data.json';
import Logo from '../components/logo.astro';
import Navigation from '../components/navigation.astro';
const users = data.users;
const services = data.services;

let resolveUrl = (u = {url: undefined}, s = "") => {
	if (u.url === undefined) {
		if (s === "gemini") {
			return `gemini://koyu.space/${users[Astro.request.url.split("?acc=")[1]].gemini}/`;
		} else {
			return `https://${s}.koyu.space`;
		}
	} else {
		return u.url;
	}
}

let resolveIcon = (s = undefined) => {
	if (services[s].icon === undefined) {
		return s;
	} else {
		return services[s].icon;
	}
}

let resolveAcc = (s = undefined) => {
	if (users[s] === undefined) {
		return "default";
	} else {
		return s;
	}
}
---

<script src="../ts/username.ts"></script>

<Layout>
	<Navigation isloggedin="true" />
	<main class="inside">
		<h1>Welcome <span id="name" />!</h1>
		<p>These are your services</p>
		<span id="services">
			{users[`${resolveAcc(Astro.request.url.split("?acc=")[1])}`]["services"].map((service) => (
					<Service
						url={resolveUrl(services[service], service)}
						title={services[service]["title"]}
						icon={resolveIcon(service)}
					/>
			))}
		</span>
	</main>
	<Logo />
</Layout>