---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/logo.astro';
import Navigation from '../components/navigation.astro';
---

<Layout>
	<Navigation />
	<div id="main2">
		<h1>Let's start the migration</h1>
		<p>Welcome to the koyu.space migration process. In order to use the next generation of koyu.space we need to ask you to do a few things so you can start using it day one.</p>
        <p>Here's a list of things we can't migrate:</p>
        <ul>
            <li>Your followers and followings</li>
            <li>Your lists</li>
            <li>Your posts including uploaded media</li>
            <li>All other user lists like blocked/muted accounts and domains</li>
            <li>Any settings including customization, privacy and others</li>
        </ul>
        <br>
        <p>Now since we got that out of the way, let's start with the actual migration process.</p>
        <ol>
            <li><a href="https://koyu.space/settings/export" target="_blank">Log in</a> and export your user lists which can be imported back to the new koyu.space. You can also request an archive of your posts in a machine-readable format.</li>
            <li><a href="/account">Leave this page and register for a new account</a></li>
        </ol>
	</div>
</Layout>
