---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/navigation.astro";
import Rules from "../components/rules.astro";
---

<Layout>
    <Navigation />
    <div id="main2">
        <Rules />
    </div>
</Layout>