---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/navigation.astro";
import Terms from "../components/terms.astro";
---

<Layout>
    <Navigation />
    <div id="main2">
        <Terms />
    </div>
</Layout>