<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#112;">
 <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://content.koyu.space/img/pb-icon.svg" height="32"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/donate" class="nav-link" id="donate">Donate</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="shop" href="/shop">Shop</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://up.koyu.space" target="_blank">Uptime</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
