<script src="../ts/navigation.ts"></script>
<nav>
    <ul>
        <li><a href="/"><i class="fa fa-home" aria-hidden="true" /></a></li>
        <li><a href="/donate" id="donate">Donate</a></li>
        <li><a href="/more" id="guidelines">Community guidelines</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="https://up.koyu.space" target="_blank">Uptime</a></li>
        <div class="right" id="styles1">
            <li class="except"><a href="https://koyu.space/settings/profile" target="_blank"><img id="avatar" height="38"></a></li>
            <li><a href="#" id="logout"><i class="fa fa-sign-out" aria-hidden="true" /></a></li>
        </div>
        <div class="right" id="styles2">
            <li><a href="/login" id="login">Login</a></li>
            <li><a href="https://koyu.space/auth/sign_up" id="register">Sign Up</a></li>
        </div>
    </ul>
</nav>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script is:inline type="text/javascript">
$(document).ready(function() {
    if (document.cookie.includes("auth=true")) {
        $("#styles2").hide();
    } else {
        $("#styles1").hide();
    }
});
</script>