<nav>
    <ul>
        <li><a href="/"><i class="fa fa-home" aria-hidden="true" /></a></li>
        <li><a href="/donate" id="donate">Donate</a></li>
        <li><a href="/more" id="guidelines">Community guidelines</a></li>
        <li><a href="/shop">Shop</a></li>
        <li><a href="https://up.koyu.space" target="_blank">Uptime</a></li>
        <div class="right">
        </div>
    </ul>
</nav>