<script src="../ts/navigation.ts"></script>
<nav>
    <ul>
        <li><a href="/"><i class="fa fa-home" aria-hidden="true" /></a></li>
        <div class="right">
            <li class="except"><a href="https://koyu.space/settings/profile" target="_blank"><img id="avatar" height="38"></a></li>
            <li><a href="#" id="logout"><i class="fa fa-sign-out" aria-hidden="true" /></a></li>
        </div>
    </ul>
</nav>