<div id="people">
    <br><p><small id="made-possible">koyu.space is made possible by these friendly people:</small></p>
    <div id="avatars">
        <a href="https://koyu.space/@koyuchan" acctid="106495573126488505"><img class="admin infrastructure2"></a>
        <a href="https://koyu.space/@shorl" acctid="223321"><img></a>
        <a href="https://koyu.space/@zack" acctid="159303"><img class="admin infrastructure2"></a>
        <a href="https://koyu.space/@Fyrfaras" acctid="112565"><img class="admin2"></a><br>
        <a href="https://koyu.space/@Einhjeriar" acctid="35232"><img class="mod"></a>
        <a href="https://koyu.space/@TastyTentacles" acctid="39353"><img class="mod donator2"></a>
        <a href="https://koyu.space/@Thorwaldson" acctid="82135"><img class="mod2"></a>
        <a href="https://koyu.space/@Kettlevoid" acctid="193286"><img class="mod2"></a>
        <a href="https://koyu.space/@cronomaestro" acctid="106257239031819261"><img class="mod donator2"></a>
        <a href="https://koyu.space/@Gigglyingalloy" acctid="108479775876678753"><img class="donator2"></a>
    </div>
    <ul id="legend">
      <li id="admin">Administrator</li>
      <li id="mod">Moderator</li>
      <li id="donator">Donator</li>
      <li id="infrastructure">Infrastructure</li>
    </ul>
</div>

<script src="../ts/people.ts"></script>