<div class="rich-formatting">
<h2 id="welcome-to-koyu-space">🦄 Welcome to koyu.space</h2>

<p>I'm Leonie and I own this server. The goal of koyu.space is to create privacy-focused and people-friendly internet services. By visiting this site you agree to the terms of service below and our <a href="/terms">privacy policy</a>.</p>

<hr>

<h2 id="rules">Community guidelines</h2>
<p>Below is a summary of the rules you must follow if you wish to have an account:</p>
<ol class="rules-list">
<li>
<div class="rules-list__text">Sexually explicit or violent media must be marked as sensitive when posting</div>
</li>
<li>
<div class="rules-list__text">No racism, sexism, homophobia, transphobia, xenophobia, or casteism</div>
</li>
<li>
<div class="rules-list__text">No harassment, dogpiling or doxxing of other users</div>
</li>
<li>
<div class="rules-list__text">No content illegal in Germany</div>
</li>
<li>
<div class="rules-list__text">No spam, advertising or bot accounts</div>
</li>
<li>
<div class="rules-list__text">No excess crossposting</div>
</li>
</ol>
<p>For legal complaints send an e-mail to <a href="mailto:legal@koyu.space">legal@koyu.space</a> and for support send an e-mail to <a href="mailto:support@koyu.space">support@koyu.space</a>.</p>

<hr>

<pre style="word-wrap:word-break;font-family:monospace !important;">
Imprint
=========

koyu.space - Leonie Ain
Steinkamp 5
24534 Neumünster
Germany

E-Mail: legal@koyu.space
Phone: (+49) 04321 / 56 33 117 (Calls without caller ID might get rejected)
</pre>

<hr>

<h2 id="technical-information">💻 Technical information</h2>
<p>Server uptime: <a href="https://up.koyu.space" target="_blank">https://up.koyu.space</a></p>

<hr>

<h2 id="our-team">🧑&zwj;🔬 Our team</h2>
<ul>
<li>koyu (Goddess)</li>
<li>Shorl (Apprentice)</li>
<li>Fyrfaras (Admin)</li>
<li>Einhjeriar (Admin)</li>
<li>Zack (Admin, Infrastructure)</li>
<li>TastyTentacles (Mod)</li>
<li>Thorwaldson (Mod)</li>
<li>Kettlevoid (Mod)</li>
<li>cronomaestro (Mod)</li>
</ul>

<hr>

<h2 id="financial-information">💸 Financial information</h2>
<p>To keep server costs low we host things on a "What will happen in the future?" basis. This means we have to stack up hardware if we would expect more users. Since our services are free and don't use any tracking or advertisement mechanisms we greatly appreciate donations if you like.</p>

<hr>

<h2>⚙️ Services</h2>
<p>A current list of services can be found in our <a href="https://wiki.koyu.space/docs/services/" target="_blank">wiki</a>.</p>

<hr>

<h2 id="rules">📜 Rules</h2>
<p>As of <strong>17/11/2020</strong></p>
<h3 id="general">💭 General</h3>
<ul>
<li>
Respect other users and their backgrounds.<br>Here are some examples of
activities that will not be tolerated:
<ul>
<li>Harassment.</li>
<li>Hateful speech.</li>
<li>Being transphobic, racist, fascist, or supporting any oppressions in general.</li>
<li>Jokes about suicide, self harm.</li>
<li>...And potentially more as we encounter specific cases, but you see the picture.</li>
</ul>
</li>
<li>
When interacting with <strong>users outside of this community</strong>, you
<strong>have</strong> to follow the rules of their community.<br>For the majority
of cases, following our set of rules should be sufficient.
</li>
<li>
Don't share anyone's personal information without their consent, and delete
content about a person should they ask.
</li>
<li>
For profit companies accounts aren't allowed.<br>
(If you look around a bit there are communities made specifically for this)
</li>
<li>
Offering sex services is prohibited in this community.<br>
(If you look around a bit there are communities made specifically for this)
</li>
<li>
<strong><i class="fa fa-fw fa-retweet" aria-hidden="true"></i> Boosting</strong>
content is considered the <strong>same as posting</strong> content. If you boost
something, you can be held responsible.
</li>
<li>
If you misbehave somewhere else, we reserve the right to sanction you
locally.
</li>
<li>
Don't go on a crusade against those who don't respect our local rules,
people from other communities have no obligation to follow ours.<br>
<ul>
<li>
If you don't like to see the content of these people, you can block or
silence them.
</li>
<li>
If you think that a community is nothing more than a source of nuisance,
please
<a href="/web/accounts/1">contact me</a>.
</li>
</ul>
</li>
</ul>

<h3 id="posting">💬 Posting</h3>
<ul>
<li>
It is mandatory to put under
<strong><abbr title="Content Warning">CW</abbr></strong> the following topics, if
posted in
<strong><i class="fa fa-fw fa-globe" aria-hidden="true"> </i>Public</strong>
timelines:
<ul>
<li>
<strong>Spoilers.</strong><br>
If you're not sure what a spoiler is,
<a href="https://en.wikipedia.org/wiki/Spoiler_(media)">
here's the Wikipedia article about it
</a>
</li>
<li>
<strong>Strong negativity.</strong><br>
Many of us are already having a hard time. It's hard to come across
negative content when you don't want to.
</li>
<li>
<strong>Violences.</strong><br>
Anything that seems violent to you. From a fictional murder description
to a video of police violence.
</li>
<li>
<strong>Politics.</strong><br>
The depressing state of current politics is not to everyone's liking
when they come here to relax.
</li>
<li>
<strong>Scary Bugs.</strong><br>
Honestly, who likes close-up photos of spiders?
</li>
<li>
<strong>Person(s) close to / looking at the camera.</strong><br>
Many of us are uncomfortable when we observe them, proximity with
others, etc.
</li>
</ul>
</li>
<li>
It is recommended to put the linked posts in the same thread.
<ul>
<li>
Integrate as much content as possible in the same message if it is
linked. We have a larger character limit than most Mastodon communities,
so take advantage of this.
</li>
</ul>
</li>
<li>Spamming is of course not allowed.</li>
</ul>
<h3 id="attachments">🖼️ Attachments</h3>
<ul>
<li>
You have to follow proper procedures when posting
<abbr title="Not Safe For Work">NSFW</abbr> content.<br>
If you don't understand what NSFW means,
<a href="https://wikipedia.org/wiki/Not_safe_for_work">here's the Wikipedia article about it</a>.
<ul>
<li>
You <strong>must</strong> hide NSFW content using the
<strong>Mark media as sensitive</strong> checkbox
</li>
<li>
You <strong>must</strong> put explicit (Pornographic, genitals, fluid
everywhere, etc) content on the
<strong><i class="fa fa-fw fa-unlock-alt" aria-hidden="true"> </i>Unlisted</strong>
or
<strong><i class="fa fa-fw fa-lock" aria-hidden="true"> </i>Followers-only</strong>
privacy level. Anything but
<strong><i class="fa fa-fw fa-globe" aria-hidden="true"> </i>Public </strong>.
</li>
<li>You <strong>may not</strong> have NSFW content in your profiles.</li>
</ul>
</li>
<li>
If you are posting a media with
<strong><i class="fa fa-fw fa-globe" aria-hidden="true"> </i>Public</strong>
privacy level, be sure to include a description for the visually or hearing
impaired.
<ul>
<li>
To do that, use the
<strong><i class="fa fa-fw fa-pencil" aria-hidden="true"></i>edit</strong>
button when the media is uploaded.
</li>
<li>
The description <strong>must</strong> follows
<a href="https://en.wikipedia.org/wiki/Wikipedia:ALT#How_to_write_alternative_text">Wikipedia's
guidelines.</a>
(It's also a good guide if you're afraid of not doing it right.)
</li>
</ul>
</li>
<li>
You have to try pineapple pizza. It's great.
</li>
<li>
Sexual depictions of minors (drawings included) are not allowed and are
considered like pedopornography.<br>
<ul>
<li>
This same rule applies if it is your body, you have to be at least 18
years old to post sexually implying pictures of yourself, no exceptions.
</li>
</ul>
</li>
</ul>

<hr>

<h2 id="fediverse-friendly-moderation-covenant">😀 Fediverse Friendly Moderation Covenant</h2>
<p style="font-size:1.5em;">This instance commits to the following</p>
<h4 id="1-administration-and-moderation-will-be-handled-as-neutral-as-possible">1. Administration and Moderation will be handled as neutral as possible</h4>
<p>Reports and widespread information on specific instances (often known as <strong>bad actors</strong>) will be verified
and actions might be taken as necessary.</p>
<h4 id="2-actions-taken-will-respond-to-the-bare-minimum-to-keep-the-network-operating-and-not-influence-the-ability-of-the-instances-users-to-connect-to-other-people">2. Actions taken will respond to the bare minimum to keep the network operating and not influence the ability of the instances users to connect to other people</h4>
<ul>
<li>If another instance spreads media content of questionable legality for the region the current instance
is operating from, these <strong>files might be rejected</strong> from being saved.</li>
<li>If another instance is sharing hateful messages that impact local users, there might be consideration
of <strong>silencing</strong> that specific instance from being visible in timelines. If users follow and/or wish to follow
users on the target instance, they are still free to do so.</li>
<li>If another instance is posting content illegal in the local instance operation region or actively posts content
attacking local users, a full <strong>instance block</strong> might be the last resort.</li>
</ul>
<h4 id="3-communication-before-actions">3. Communication before Actions</h4>
<p>If any of the above behaviours start to surface from a given instance, the moderation of the local instance will attempt
to inform the moderation/administration of that instance and resolve the problems coming from there. Only if no communication succeeded or no results that resolved issues came forth, actions will be taken towards that instance.</p>
<h4 id="4-we-won-t-recommend-blocks">4. We won't recommend blocks</h4>
<p>Blocklists and block recommendations as an information source are taken for granted but lack accurate verification. Instead of using these options to publicly announce instances of questionable intent, we will inform local users of such, with the reminder of possible personal options for hiding content that might impact their experience of the network.</p>
<h4 id="5-no-guilt-by-association-federation">5. No Guilt-by-Association/Federation</h4>
<p>If we have applied any action against Instance X, an Instance Y that federates with them will not get the same judgement applied to them. A natural connection, as by the networks design, does not imply shared interests and thus doesn't warrant the same moderation methods.</p>
<hr>
<p>Regardless of all given points above, in special cases the instance moderation/administration might still opt to block an instance, while this is tried to be avoided at most.</p>
<hr>
<p><em>This Covenant is based on <a href="https://github.com/pixeldesu/fediverse-friendly-moderation-covenant">The Fediverse-Friendly Moderation Covenant</a> and is licensed under CC0</em></p>

<hr>

<h2 id="credits-and-conditions">🎞️ Credits and conditions</h2>
<p>This server uses <a href="https://mutant.tech">Mutant Standard emoji</a> made by <a href="http://noct.zone">Dzuk</a>, which are licensed under a <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
<p>The cover art of this server was made by <a href="https://koyu.space/@aidalgol">@aidalgol</a> and is released under <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a>.</p>
<p>BunHD emojis are made by Feuerfuchs and koyu.space has permission to use them as mascot, alternative logo, in software and on merchandise. The source is available at <a href="https://www.feuerfuchs.dev/projects/bunhd-emojis/" target="_blank">https://www.feuerfuchs.dev/projects/bunhd-emojis/</a>.</p>
</div>

<style>
.rich-formatting ol, .rich-formatting ul {
padding: 0 0 0 2em;
margin: 0 0 0.85em;
}
.rich-formatting ol {
list-style: decimal;
}

.rules-list {
background: #223;
border: 1px solid #17191f;
border-radius: 4px;
padding: 0.5em 2.5em!important;
margin-top: 1.85em!important;
}
.rules-list li {
    padding: 1em;
}
</style>