---
import Service from '../components/service.astro';
import services from '../json/services.json';
---

<span style="text-align: center;">
    {services.map((service) => (
        <Service
            url={service.url}
            title={service.title}
            icon={service.icon}
        />
    ))}
</span>