@import url("/karla/karla.css");

:root {
    --accent-color: #fe53e1;
    --accent-color-hover: #ff78e8;
    --trends-transparency: rgba(254, 83, 225, .25);
    --element-color: #223;
}

body {
    font-family: Karla, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background: #223;
    color: #fff !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a:hover {
    color: #fff !important;
}

h1,
h2,
h3  {
    font-weight: 300;
}

#header {
    margin-top: 20px;
}

main {
    text-align: center;
}

.right {
    float: right;
}

.service {
    font-size: 72pt !important;
    display: inline;
    padding: 10px;
}

.service a {
    color: #fff !important;
    text-decoration: none;
}

@media(min-width:800px) {
    #services {
        display: inline-block;
        width: 50%;
        margin: 0 auto;
    }
    #tagline {
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }
    #dprogress {
        width: 50%;
        margin: 0 auto;
    }
    #main2 {
        width: 70%;
        margin: 0 auto;
    }
    #main2 h1,
    #main2 h2,
    #main2 h3 {
        line-height: 2;
    }
    #sprd-startpage-teaser {
        width: 95%;
        margin: 0 auto;
    }
}

#dprogress {
    padding: 20px;
}

@media(max-width:800px) {
    #logo {
        display: none;
    }
    body {
        background: #223 !important;
   }
   img[alt="Logo"] {
       margin-left: -37px;
   }
}

#avatar {
    vertical-align: middle;
    border-radius: 50%;
    margin-top: -2px;
}

main {
    margin-top: 20px;
}

.inside {
    margin-top: 40px;
}

#credits {
    position: absolute;
    bottom: 50px;
    left: 10px;
}

#credits,
#credits a,
#credits a:hover {
    font-size: 10pt;
    color: rgba(255,255,255,0.8);
}

#avatars {
    display: inline;
}

#avatars img {
    height: 64px;
    margin: 3px;
    border-radius: 50%;
    background: #fff;
    padding: 4px;
}

#avatars a {
    outline: 0;
}

.admin {
    border: 3px solid lime;
}

.mod {
    border: 3px solid yellow;
}

.donator {
    border: 3px solid magenta;
}

#admin {
    color: lime;
    text-align: left;
    padding-left: 20px;
}

#mod {
    color: yellow;
    text-align: left;
    padding-left: 20px;
}

#donator {
    color: magenta;
    text-align: left;
    padding-left: 20px; 
}

#infrastructure {
    color: red;
    text-align: left;
    padding-left: 20px; 
}

#legend li {
    display: inline;
    padding: 0;
    padding-right: 6px;
}

#legend {
    margin-top: 16px;
}

.admin2 {
    background: lime !important;
    padding: 4px !important;
}

.mod2 {
    background: yellow !important;
    padding: 4px !important;
}

.infrastructure2 {
    background: red !important;
    padding: 4px !important;
}

.donator2 {
    background: magenta !important;
    padding: 4px !important;
}

.button {
    background-color: var(--accent-color)!important;
    border: 10px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    width: 150px;
}
.button:hover {
    background-color: var(--accent-color-hover)!important;
}

#learnmore {
    margin-top: 40px;
}

.disabled,
.disabled:hover {
    cursor: pointer;
    background: var(--trends-transparency) !important;
}

.fa {
    padding: 4px;
}

#main2 {
    padding: 20px;
}

.sprd-header__image {
    visibility: hidden;
}

#sprd-container,
.sprd-bg-m3,
.sprd-header,
.sprd-bg-m1 {
    background: #223 !important;
    color: #fff !important;
}

.SprdMain .sprd-startpage-teaser__image {
    background-image: url(https://content.koyu.space/img/bg.jpg) !important;
}

.SprdMain .sprd-img-spinner__image {
    border-radius: 10px;
}

.sprd-search__icon,
.sprd-basket-indicator__icon {
    color: #fff;
}

#sprd-content {
    text-align: left;
}

#sprd-content h4 {
    font-size: var(--bs-body-font-size) !important;
}

.SprdMain .sprd-button {
    border-radius: 30px !important;
}

.SprdMain .sprd-detail-sizes__size,
.SprdMain .sprd-detail-info__further-details-btn {
    color: #fff !important;
}

#tagline, #ourservices {
  font-weight: 400;
}

.service > a > svg {
  height: 36pt;
}
