@import "variables";

body {
    font-family: Karla, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    background-size: cover !important;
    color: $foreground !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-image 3s;
}

a {
    color: $accent-color;
}

a:hover {
    color: $accent-color-hover;
}

h1,
h2,
h3  {
    font-weight: 300;
}

#header {
    margin-top: 20px;
}

main {
    text-align: center;
    background: #223;
    padding: 20px;
}

.right {
    float: right;
}

#tagline {
    font-weight: 400;
}

.fa {
    padding: 4px;
}

#main2 {
    padding: 20px;
}

form {
  display: inline;
}

main {
    margin-top: 20px;
}

.inside {
    margin-top: 40px;
}

#learnmore {
    margin-top: 40px;
}

@media(min-width:800px) {
    #tagline {
        width: 50%;
        margin: 0 auto;
        margin-top: 40px;
    }
    #main2 {
        width: 70%;
        margin: 0 auto;
    }
    #main2 h1,
    #main2 h2,
    #main2 h3 {
        line-height: 2;
    }
    #logo {
        display: none;
    }
   img[alt="Logo"] {
       margin-left: -37px;
   }
   main {
    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 20px;
   }
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #223;
    border-top-left-radius: 30px;
    padding: 15px;
}