@import "variables";

body {
    font-family: Karla, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    background-color: $element-color;
    color: $foreground !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    transition: background-image 3s;
}

a {
    color: $accent-color;
}

a:hover {
    color: $accent-color-hover;
}

h1,
h2,
h3  {
    font-weight: 300;
}

#header {
    margin-top: 20px;
}

main {
    text-align: center;
    background: #223;
    padding: 20px;
}

.right {
    float: right;
}

#tagline {
    font-weight: 400;
}

.fa {
    padding: 4px;
}

#main2 {
    padding: 20px;
    background: #223;
}

form {
  display: inline;
}

main {
    margin-top: 20px;
}

.inside {
    margin-top: 40px;
}

#learnmore {
    margin-top: 40px;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #223;
    border-top-left-radius: 30px;
    padding: 15px;
}