.button {
    background-color: var(--accent-color)!important;
    border: 10px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.button:hover {
    background-color: var(--accent-color-hover)!important;
}

.disabled,
.disabled:hover {
    cursor: pointer;
    background: var(--trends-transparency) !important;
}