@import "variables";

.button {
    background-color: $accent-color !important;
    border: 10px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.button:hover {
    background-color: $accent-color-hover !important;
}

.disabled,
.disabled:hover {
    cursor: pointer;
    background: $trends-transparency !important;
}