@import "variables";

.service {
    font-size: 72pt !important;
    display: inline-block;
    vertical-align: text-top;
    padding: 10px;
}

.service a {
    color: $foreground !important;
    text-decoration: none;
}

@media(min-width:800px) {
    #services {
        display: inline-block;
        width: 50%;
        margin: 0 auto;
    }
}

.service > a > svg {
    height: 36pt;
}

#ourservices {
    font-weight: 400;
}

.usercount {
    font-size: 12pt !important;
    margin-top: -32px;
}