---
import Layout from '../../layouts/Layout.astro';
---

<Layout>
	<div id="main2">
	<h1>Welcome to the koyu.space Wiki</h1>
	<p>koyu.space is a global network of talented people delivering internet services to you. All we do is free and open-source software.</p>
	<p>Choose an article below to learn more:</p>
	<ul>
	<li><a href="/wiki/streaming">Livestreaming on koyu.space</a></li>
	<li><a href="/wiki/services">Services</a></li>
	</ul>
	</div>
</Layout>
