---
import Layout from '../../layouts/Layout.astro';
import Services from '../../components/services.astro';
import WikiBackbutton from '../../components/wiki-backbutton.astro';
---

<Layout>
	<div id="main2">
	<WikiBackbutton />
	<h1>Services</h1>
	<p>We currently got the following services:</p>
	<Services />
	<p>Services with closed registrations are request-only due to limited resources. The mail service is reserved for koyu and shorl only.</p>
	<p>We also offer free subdomains for users on koyu.space! Just e-mail us your A record or CNAME record along with your preffered subdomain and we will handle the rest. Please note that we don’t take any responsibility for user subdomains except limited by law.</p>
	<h2>Webhosting</h2>
	<p>Webhosting (static content only) is available for koyu.space members which means:</p>
	<ul>
	<li>You use our services for more than 90 days</li>
	<li>You either donated more than once or gained moderator/admin privileges</li>
	<li>You are in the Matrix chat</li>
	</ul>
	<p>What you get:</p>
	<ul>
	<li>FTP access to your own webspace</li>
	<li>Your own subdomain</li>
	<li>A colored name on koyu.space</li>
	</ul>
	<p>Rules:</p>
	<ul>
	<li>Fair use</li>
	<li>No illegal content</li>
	</ul>
	<p>How to get:</p>
	<p>E-Mail <a href="mailto:support@koyu.space">support@koyu.space</a> and we’ll sort out your request.</p>
	</div>
</Layout>
